:root {
    --bg-color: #0a0a0a;
    --card-bg: #141414;
    --primary-green: #2ecc71;
    --text-white: #ffffff;
    --text-dim: #a0a0a0;
    --accent-gold: #c5a059;
}

body {
    background-color: var(--bg-color);
    color: var(--text-white);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px;
}

h1 { font-family: 'Playfair Display', serif; letter-spacing: 4px; color: var(--accent-gold); }
.subtitle { font-weight: 300; font-size: 0.5em; color: var(--text-white); }

.container { max-width: 900px; margin: auto; }

.card {
    background: var(--card-bg);
    border: 1px solid #222;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.card:hover { border-color: var(--primary-green); transform: translateY(-5px); }

.amount { font-size: 2.5rem; color: var(--primary-green); font-weight: 500; }

.input-group { display: flex; gap: 10px; margin-top: 20px; }

input {
    background: #1f1f1f;
    border: 1px solid #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

button {
    background: var(--primary-green);
    border: none;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.pos { color: var(--primary-green); }
.neg { color: #e74c3c; }
.transaction-form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

select {
    background: #1f1f1f;
    border: 1px solid #333;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

canvas {
    max-height: 300px;
    margin-top: 20px;
}

.custom-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto; /* Permet de scroller si la liste est longue */
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #222;
    animation: fadeIn 0.5s ease;
}

.transaction-item:last-child { border-bottom: none; }

.item-desc { font-weight: 500; color: var(--text-white); }
.item-date { font-size: 0.8em; color: var(--text-dim); display: block; }

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.btn-secondary {
    background: transparent;
    border: 1px solid #444;
    color: var(--text-dim);
    font-size: 0.8em;
    padding: 5px 10px;
    cursor: pointer;
}